@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh carousel */
.slick-slide {
  padding: 0 8px;
}
.slick-list {
  margin: 0 -8px;
}
.slick-track {
  display: flex !important;
}
.slick-slide > div {
  height: 100%;
}
.slick-prev,
.slick-next {
  background: #fadb14 !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
.slick-dots li.slick-active button:before {
  color: #fadb14 !important;
}

/* Loại bỏ focus ring xanh của Ant Design Pagination */
.no-ant-pagination-style .ant-pagination-item:focus,
.no-ant-pagination-style .ant-pagination-item-active:focus,
.no-ant-pagination-style .ant-pagination-item-active,
.no-ant-pagination-style .ant-pagination-item:focus-visible,
.no-ant-pagination-style .ant-pagination-item-active:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.no-ant-pagination-style .ant-pagination-item:focus::after,
.no-ant-pagination-style .ant-pagination-item-active:focus::after,
.no-ant-pagination-style .ant-pagination-item-active::after {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
  content: none !important;
}
